/* Style de base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.left,.left2, .center {
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

/* Layout de bureau */
.left {
    clear: both;
    width: 25%;
    background-color: #f0f0f0;
}
.left2 {
    clear: both;
    width: 25%;
    background-color: #f0f0f0;
}
.center {
    width: 50%;
    background-color: #fff;
}

.right {
    width: 25%;
    background-color: #f0f0f0;
}

.footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .left,.left2, .center {
        width: 100%;
        float: none;
        padding: 15px;
    }

    .header, .footer {
        text-align: center;
    }
}
