/* Style de base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #2B3940;
    border-bottom: 1px solid white;
    color: white;
    padding: 20px;
    text-align: center;
}

.left,.left2, .center {
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

/* Layout de bureau */
.left {

    width: 25%;
    background-color: #2B3940;
    color: azure;
}

.center {
    width: 75%;
         
}


.footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .left, .center {
        width: 100%;
        float: none;
        padding: 15px;
    }

    .header, .footer {
        text-align: center;
    }
}
